header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #071A3A;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    padding: 80px 0;
    text-align: center;
    background-color: #EEF3FB;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.btn {
    background-color: #EF3123;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
div{
    color: #EEF3FB;
}