body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}

/* Navbar */
.navbar {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.navbar h2 {
    color: blue;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 15px;
}

/* Hero */
.hero {
    background-color: #dff0ff;
    text-align: center;
    padding: 60px;
}

.hero h1 {
    color: #1769aa;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
}

/* Kurslar */
.kurslar {
    text-align: center;
    padding: 40px;
}

.card {
    background-color: white;
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Ustozlar */
.ustozlar {
    background-color: white;
    text-align: center;
    padding: 40px;
}

.teacher {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
}

/* CTA */
.cta {
    background-color: #1683e8;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Footer */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
}
